<p id="notice"><%= notice %></p>

<div class="score_table">
  <table class="board" summary="Group Board">
    <tr class="header">
      <th id="team">Group <%= @group.name %></th>
      <th>M</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>GF</th>
      <th>GA</th>
      <th>GD</th>
      <th>Pts</th>
    </tr>
    <% @group.teams.sort.each do |team| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <% flag = image_tag("#{team.name.downcase.gsub(" ", "_").gsub(".", "")}.gif",
        { :height => 20, :width => 40, :class => "flag" }) %>
      <td id="team" ><%= flag %>&nbsp;<%=team.name %></td>
      <td><%= team.matches %></td>
      <td><%= team.wins %></td>
      <td><%= team.draws %></td>
      <td><%= team.losses %></td>
      <td><%= team.goals_for %></td>
      <td><%= team.goals_ag %></td>
      <td><%= team.goal_dif %></td>
      <td><%= team.points %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="box">
  <div class="box_header">Scores</div>
  <div class="box_content">
    <table class="scores" summary="Score list">
      <% @group.scores.each do |s| %>
      <tr>
        <td class="home_team"><%= s.home_team %></td>
        <td><%= s.h_score %></td>
        <td>vs</td>
        <td><%= s.a_score %></td>
        <td class="away_team"><%= s.away_team %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="nav">
  <h3>&nbsp;
  <%= link_to "A",
    { :controller => "groups", :action => "show", :id => 1 },
    :class => @group.name == "A" ? "current" : "group" %>
  <%= link_to "B",
    { :controller => "groups", :action => "show", :id => 2 },
    :class => @group.name == "B" ? "current" : "group" %>
  <%= link_to "C",
    { :controller => "groups", :action => "show", :id => 3 },
    :class => @group.name == "C" ? "current" : "group" %>
  <%= link_to "D",
    { :controller => "groups", :action => "show", :id => 4 },
    :class => @group.name == "D" ? "current" : "group" %></h3>
  <%= link_to 'Back', groups_path %>
</div>
