<!DOCTYPE html>
<html>
<head>
  <title>Euro 2012 Score Simulator</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <%= image_tag("football_icon_128.png", { :height => 48, :width => 64, :class => "site_icon" }) %>
  <h1>Euro 2012 Score Simulator</h1>
</div>

<div id="content">
  <%= yield %>
</div>

<div id="footer">
  <% github = link_to "GitHub", "http://github.com/jasoares/euro2012_score_simulator/" %>
  <h3>Open Source App - Fork the source code at <%= github %></h3>
</div>

</body>
</html>
